{% load static %} <!-- for include static files: *jpg, *.css... -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    
    <header>
        {% block header%}
            <h1>{{welcome}}</h1>
        {% endblock %}
    </header>

    <div>
        <h2>Today events</h2>
        <button>open schedule</button>
        <ul>
            {% for i in events_list %}
                <li>{{ i|title }}</li> <!--| upper, lower, floatformat:<digits after quot> -->
            {%endfor%}
        </ul>
    </div>
    {% block prolist%}
    <div>
        <h2><a href="ext/">Projects / Deals</a></h2> 
        <button>make new</button>
        click for list

    </div>
    {% endblock %}

    {% include 'project.html'%}    <!-- show other html-->
</body>
</html>