<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
</head>
<body>
    <h1>{{welcome}}</h1>

    <div>
        <h2>Today events</h2>
        <button>open schedule</button>
        <ul>
            <li>05:00   wake up</li>
            <li>05:30   breakfast</li>
            <li>06:00   start learning</li>
            <li>09:00   start develop Ucomm</li>
            <li>16:00   start Yandex-taxi</li>
            <li>22:00   go home</li>
            <li>23:00   go to bed</li>
        </ul>
    </div>
    <div>
        <h2>Projects / Deals</h2> 
        <button>make new</button>
        <ul>
            <li>project: Health care</li>
            <li>deal: Yandex-taxi</li>
        </ul>        
    </div>

</body>
</html>